/* for hero greet */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
/* for hero intro */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/* for hero skill */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* for skill heading */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.hero_section {
  width: 100%;
  height: 100%;
  background-image: url("/static/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 85%,
    51% 100%,
    51% 100%,
    0 85%,
    0 0
  );
  position: relative;
}
.hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.hero_content_greet {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #0352ff;
  font-family: "Oleo Script", cursive;
}
.hero_content_intro {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 500;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Merriweather", serif;
  color: white;
}
.hero_content_skill {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: white;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.intro_container {
  margin-top: 4rem;
  text-align: center;
}

.dp {
  border-radius: 50%;
  border: 3px solid blue;
  position: relative;
  bottom: 7rem;
}

.intro_subcontainer {
  padding: 1rem;
  position: relative;
  bottom: 5rem;
}

.intro_sub_p {
  /* border: 2px solid ; */
  margin: 0 auto;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 40px;
  text-align: center;

  color: #606060;
}

.portfolio {
  text-align: center;
}
.portfolio > h3 {
  font-family: "Kanit", sans-serif;
  color: #0352ff;
}

.portfolio_sub {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.portfolio_box1:hover,
.portfolio_box2:hover,
.portfolio_box3:hover {
  transform: translateY(-1rem);
}
.portfolio_box1,
.portfolio_box2,
.portfolio_box3 {
  height: 285px;
  width: 380px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.portfolio_box1 > img,
.portfolio_box2 > img,
.portfolio_box3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.contact {
  text-align: center;
  font-family: "Kanit", sans-serif;
  background-color: #f7f7f7;
  padding: 2rem 0;
}
.contact_sub {
  padding: 3rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_sub > ul {
  list-style: none;
  width: 250px;
}

.contact_sub > ul > li {
  border: 2px solid;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}
.contact_sub > a {
  border: 1px solid;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.contact_sub > a:hover {
  background-color: #0352ff;
  color: white;
}

.contact_sub > ul > li:hover {
  background-color: black;
  color: white;
}

.footer {
  height: 319px;
  background: #414141;
  text-align: center;
  padding: 4rem;
}
.footer > h4 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  color: white;
}

.footer > h5 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  color: white;
}


@media (min-width: 769px) {
  .a {
    width: 1440px;
    height: 865px;
  }
}

@media (max-width: 768px) {
  .a {
    width: 100vw;
    height: 100vh;
  }
  .hero_content_intro {
    text-align: center;
    font-size: 60px;
    line-height: normal;
  }
  .portfolio_sub {
    flex-direction: column;
  }
  .dp {
    bottom: 10rem;
  }

  .portfolio_box1,
  .portfolio_box2,
  .portfolio_box3 {
    width: 100%;
  }
  .contact_sub {
    flex-direction: column;
    padding: 0;
  }
  .contact_sub > ul {
    margin: 0;
    padding: 0;
    width: 73%;
  }
  .contact_sub > a {
    width: 73%;
  }
  .intro_sub_p {
    text-align: justify;
  }
  .intro_subcontainer {
    bottom: 8rem;
  }
}
