@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.navContainer{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: .5rem;

}

.navBrand{
    font-family: 'Pacifico', cursive;
    transform: rotate(-10deg);
}